<header class="header">
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () { 
      const urlParams = new URLSearchParams(window.location.search);

      console.log("urlParams", urlParams)      
      const userId = urlParams.get('USERID');
      const subdomain = urlParams.get('SUBDOMAIN'); 
      if (userId) {
        showUserId( userId, subdomain);
      }
      else {
        showUserIdForm(subdomain);
      }
    } );


    function showUserId( userId, subdomain) {
      document.getElementById('navbar-form-empty').style.display = "none";
      document.getElementById('navbar-form-filled').style.display = "flex";
      document.getElementById('username').textContent = userId;
      document.getElementById('catalog_url').value = catalog_url; 
      document.getElementById('openshift_console').value = openshift_console; 

    }

    function showUserIdForm( subdomain ) {
      document.getElementById('navbar-form-empty').style.display = "flex";
      document.getElementById('navbar-form-filled').style.display = "none";
      document.getElementById('subdomain').value = subdomain; 

    }

    function goWithUserId() {
      elUserIdInput = document.getElementById('userId');
      elSubdomainInput = document.getElementById('subdomain');
      window.location.search = ('&USERID=' + elUserIdInput.value  + '&SUBDOMAIN=' + elSubdomainInput.value);
    }

    function recycle() {
      document.getElementById('userId').value='';
      elSubdomainInput = document.getElementById('subdomain');
      window.location.search = ('&USERID=&SUBDOMAIN=' + elSubdomainInput );
    }


  </script>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.redhat.com/en/technologies/cloud-computing/openshift/cloud-services" target="_blank"><img
          src="{{uiRootPath}}/img/Logo-Red_Hat-Cloud_Services-A-Reverse-RGB.png" height="40px" alt="Red Hat Cloud Services"></a>
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}" style="color: white;"><h3>{{site.title}}</h3></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item" id="navbar-form-empty">
          <span class="navbar-text" style="margin-left: 1rem;">Your Workshop Environment</span>
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i style="color: orange;"
              class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>

          <form action="javascript:void(0);" onsubmit="goWithUserId();">
            <div class="navbar-item" id="navbar-form-project-filled" style="display: none;">
              <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">|</span>
            </div>
            <input size="40" id="userId" type="text" placeholder="Enter USER ID">
            <input type="hidden" id="subdomain" name="SUBDOMAIN" value="" placeholder="Enter Subdomain">
          </form>
        </div>
        
        <div class="navbar-item" id="navbar-form-filled" style="display: none;">
          <span class="navbar-text" style="margin-left: 1rem;">Your Workshop Environment</span>
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">|</span>
          <span class="navbar-text" id="username"></span>
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i onclick="recycle();" style="color: green;" class="fa fa-recycle" aria-hidden="true"></i></span>
        </div>

    </div>
  </nav>
</header>